@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

p,
a,
div {
  font-family: 'Roboto';
}
h1,
h2,
h3 {
  font-family: 'Ubuntu';
}

svg, path{
stroke: hsl(var(--ac));
}
